# DS-SF-34 | 03 | Databases, Scrapping, and APIs | Assignment | Starter Code

## The Bistro Meets `SQLite`

In this assignment, we will be exploring the `bistro` dataset.  The previous assignment used `pandas`.  Today, we'll answer the same questions but using `SQLite`.  In some situations, `pandas` will be a better solution.  In others, doing it using `SQL` will make more sense.  As you gain more experience, you'll know which one to use.

> ### Question 1.  Import the `sqlite3` package.

In [2]:
import os

import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

# TODO
import sqlite3

> ### Question 2.  Connect to the `dataset-03-bistro.db` database.  The rest of this assignment focus on the `bistro` table.

In [3]:
# TODO
db = sqlite3.connect(os.path.join('..', 'datasets', 'dataset-03-bistro.db'))

> ### Question 3.  How many samples (i.e., rows) are in this dataset?

In [13]:
# TODO
pd.io.sql.read_sql(
    '''SELECT COUNT(*)
        FROM bistro;
    '''
, con = db)

   COUNT(*)
0       244

Answer: TODO

> ### Question 4.  Print the first two rows of the table to the console.

In [14]:
# TODO
pd.io.sql.read_sql(
    '''SELECT *
        FROM bistro
        LIMIT 2
    ;
    '''
, con = db)

   index     day    time      name  gender  is_smoker  party  check   tip
0      0  Sunday  Dinner  Kimberly  Female          0      2  16.99  1.01
1      1  Sunday  Dinner  Nicholas    Male          0      3  10.34  1.66

> ### Question 5.  For which week days does the dataset has data for?

In [15]:
# TODO
pd.io.sql.read_sql(
    '''SELECT distinct(day)
        FROM bistro
    ;
    '''
, con = db)

        day
0    Sunday
1  Saturday
2  Thursday
3    Friday

Answer: TODO

> ### Question 6.  How often was the bistro patronized for each week day?

In [16]:
# TODO
pd.io.sql.read_sql(
    '''SELECT distinct(day), COUNT(*)
        FROM bistro
        GROUP BY 1
    ;
    '''
, con = db)

        day  COUNT(*)
0    Friday        19
1  Saturday        87
2    Sunday        76
3  Thursday        62

Answer: TODO

> ### Question 7.  How much tip did waiters collect for each week day?

In [17]:
# TODO
pd.io.sql.read_sql(
    '''SELECT distinct(day), SUM(tip)
        FROM bistro
        GROUP BY 1
    ;
    '''
, con = db)

        day  SUM(tip)
0    Friday     51.96
1  Saturday    260.40
2    Sunday    247.39
3  Thursday    171.83

Answer: TODO

> ### Question 8.  What is the average tip per check (in absolute \$) for each week day?

In [18]:
# TODO
pd.io.sql.read_sql(
    '''SELECT distinct(day), AVG(tip)
        FROM bistro
        GROUP BY 1
    ;
    '''
, con = db)

        day  AVG(tip)
0    Friday  2.734737
1  Saturday  2.993103
2    Sunday  3.255132
3  Thursday  2.771452

Answer: TODO

> ### Question 9.  What is the average tip per check (as a percentage of the check) for each week day?

(`CHECK` is a reserved keywork; use `` `check` `` (put the name between backticks) to reference the `check` column)

In [41]:
# TODO
pd.io.sql.read_sql(
    '''SELECT day, (SUM(tip) / SUM(`check`)) * 100 AS tip_perc
        FROM bistro
        GROUP BY 1
    ;
    '''
, con = db)

        day   tip_perc
0    Friday  15.944519
1  Saturday  14.642375
2    Sunday  15.203791
3  Thursday  15.673201

Answer: TODO

> ### Question 10.  Are there any name in common between male and female patrons?  (E.g., `Chris` can refer to either a man or a woman)

In [50]:
# TODO
pd.io.sql.read_sql(
    '''
    SELECT distinct(name)
        FROM bistro
        WHERE gender = 'Female'

    INTERSECT
    SELECT distinct(name)
        FROM bistro
        WHERE gender = 'Male'
    ;  
    '''
, con = db)

  (name)
0  Casey

Answer: TODO

> ### Question 11.  If no patrons share the same name, how many unique patrons are in the dataset?

In [ ]:
# TODO

Answer: TODO

> ### Question 12.  How many times did `Kevin` patronized the bistro?  How about `Alice`?

In [ ]:
# TODO

Answer: TODO

> ### Question 13.  Who are the top 3 female and male patrons?

In [ ]:
# TODO

Answer: TODO

> ### Question 14.  Who's the best tipper (as a fraction of all tips over all check totals)?  Who's the worst?  How many times did they patronize the bistro?

In [ ]:
# TODO

Answer: TODO